<main class="flex-grow bg-gray-100 mt-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-4">
        <div class="lg:flex">
            <div class="mb-4 lg:w-5/12 hidden lg:block">

                <% if user_signed_in? %>
                    

                <% else %>
                    <div class="bg-white shadow rounded-md p-4 md:p-4">
                        <h3 class="text-lg md:text-lg font-bold">PDM is a community of amazing product managers</h3>
                        <div class="text-gray-700 flex justify-between py-2">
                            <div>
                                We're a place where product managers share, stay up-to-date and grow their careers.
                            </div>
                        </div>
                        <%= link_to "Create new account", new_user_registration_path, class: "flex justify-center items-center bg-blue-500 text-white px-2 py-2 hover:bg-blue-600 rounded-md font-bold" %>

                        <%= link_to "Login", new_user_session_path, class: "flex mt-2 justify-center items-center text-blue-700 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md font-bold text-gray-600" %>
                    </div>
                <% end %>
                <nav class="flex-grow pb-4 mb-6 md:pb-0 md:overflow-y-auto">

                    <a href="/" class="flex mt-4 items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-medium text-gray-600">
                        <img src="https://img.icons8.com/color/25/000000/home.png" />
                        <span class="ml-3">Home</span>
                    </a>


                    <% if user_signed_in? %>


                    <% else %>

                        <%= link_to new_user_session_path, class: "flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-bold text-gray-600" do %>
                            <img src="https://img.icons8.com/color/25/000000/handshake.png" />
                            <span class="ml-3">Sign In/Up</span>
                        <% end %>
                    <% end %>
                    <a href="/" class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md text-gray-600">
                        <img src="https://img.icons8.com/emoji/25/000000/movie-camera-emoji.png"/>
                        <span class="ml-3">Video</span>
                    </a>
                </nav>
                <nav class="flex-grow pb-4 md:pb-0 md:overflow-y-auto">
                    <h3 class="font-bold p-2">Popular Tags</h3>
                    <div>
                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600"> <span>#javascript</span></a>

                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600"> <span>#javascript</span></a>

                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600"> <span>#javascript</span></a>

                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600"> <span>#javascript</span></a>
                    </div>
                </nav>
            </div>
            <div class="lg:w-3/3 lg:pl-6">
                <h2 class="mb-4 text-xl md:text-xl font-bold">Posts</h2>

                    <% @posts.each do |post| %>
                        <article class="bg-white rounded-lg mb-4 overflow-hidden shadow cursor-pointer">
                            <% if post == @posts.first %>
                                <%= link_to post, class: "w-full h-72 object-cover" do %>
                                    <img src="<%= post.cover_image %>" class="w-full h-72 object-cover" />
                                <% end %>
                            <% end %>
                            <div class="px-6 py-4">
                                <div class="align-bottom flex-col leading-none">
                                    <div class="flex flex-row items-center">
                                        <img alt="Placeholder" class="block rounded-full w-8" src="<%= post.user.profile_image %>" />
                                        <div class="pl-2">
                                            <p class="text-sm font-semibold text-gray-800"><%= post.user.name %></p>
                                            <p class="text-gray-700 text-xs mb-0"><%= post.created_at.strftime("%d %b") %> (5 hours ago)</p> 
                                        </div>
                                    </div>
                                </div>
                                <%= link_to post do %>
                                    <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 hover:text-blue-900 group-hover:text-indigo-600"><%= post.title %></h5>
                                <% end %>
                                <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                                    <a href="" class="p-1">#javascript</a>
                                    <a href="" class="p-1">#javascript</a>
                                    <a href="" class="p-1">#javascript</a>
                                </div>
                                <div class="flex pl-9 text-gray-600 font-normal text-sm">
                                    <%= link_to post, class: "flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600" do %>
                                        <i class="far fa-heart"></i>
                                        <span class="ml-3">3 Reactions</span>
                                    <% end %>
                           
                                    <%= link_to post, class: "flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600" do %>
                                        <i class="fal fa-comments-alt"></i>
                                        <span class="ml-3">10 Comments</span>
                                    <% end %>
                                  
                                </div>
                            </div>
                        </article>
                    <% end %>
                
            </div>
        </div>
    </div>
</main>